@{
    ViewBag.Title = "Dobrodosli";
}

<div class="jumbotron">
    <h1 class="text-capitalize text-center">E-Biblioteka</h1>
    <p class="lead text-center">Jednostavna aplikacija za vašu biblioteku</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Kreirajte korisnika</h2>
        
        <p><a class="btn btn-default" href="https://localhost:44351/Users/Create">Kreiraj korisnika &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Sve knjige na stanju</h2>
       
        <p><a class="btn btn-default" href="https://localhost:44351/Books">Knjige &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Iznajmi knjigu</h2>
        
        <p><a class="btn btn-default" href="https://localhost:44351/Borrowings">Iznajmljivanje &raquo;</a></p>
    </div>
</div>